/* developer styles go here */

:root {
    --cream: #e5e1db;
    --yellow: #cfb450;
    --grey: #6b6267;
    --lt-grey: #d2cfd1;
}

body {
    font-family: Arial, Helvetica, sans-serif;  
}

.inner-container {
    padding: 0 1rem;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    flex: 1 0 100%;
}

header {
    background-color: var(--cream);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

header button {
    background-color: var(--grey);
    border: none;
    color: var(--cream);
    border-radius: 4px;
}


/********************** form ***************************************/

section form {
    border: 1px solid var(--lt-grey);
    box-shadow: 3px 3px 5px var(--lt-grey);
    padding: 0.5rem;
    border-radius: 4px;
}

input {
    padding:0.5rem;
    border-radius: 4px;
}

input[id="search"] {
    background-image: url(../img/magnifying-glass.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 1.875rem 1.875rem;
    background-position: left 5px center;  
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;          
}


/* Normally we would style the anchor tags but since we're just hiding the whole thing, we won't bother for this demo*/
ul.menu {
    display:none;

}

